*,
*::before,
*::after {
  box-sizing: border-box
}

*:focus {
  outline: none
}

h1,
h2,
p {
  margin: 0
}

ul {
  list-style: none;
  padding: 0
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: rgba(0, 0, 0, 0);
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  cursor: pointer
}

button::-moz-focus-inner {
  border: 0
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  margin: 0
}

button,
input {
  overflow: visible;
  border: none;
  outline: none
}

input[type=text] {
  border-radius: 0;
  background-color: unset
}

input[type=button] {
  background: none;
  border-width: unset;
  padding: 0;
  border-style: unset
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  background-color: rgba(0, 0, 0, 0)
}

body {
  width: 100%;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  -webkit-text-fill-color: #333
}


@font-face {
  font-family: "icomoon";
  src: url(./fonts/52d8c28eb008869fd8c0.eot)
  format("embedded-opentype"), url(./fonts/d44e322c3d3f357f6039.ttf)
  format("truetype"), url(./fonts/d45d74fbcd58f258e683.woff)
  format("woff"), url(./fonts/8be28b51ef8291c598d3.svg?hvd7w8#icomoon) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block
}

/* 
@font-face {
  font-family: "icomoon";
  src: url(/app/fonts/);
  src: url(https://widget.yhelper.net/iframe/52d8c28eb008869fd8c0.eot?hvd7w8#iefix)
  format("embedded-opentype"), url(https://widget.yhelper.net/iframe/d44e322c3d3f357f6039.ttf?hvd7w8)
  format("truetype"), url(https://widget.yhelper.net/iframe/d45d74fbcd58f258e683.woff?hvd7w8)
  format("woff"), url(https://widget.yhelper.net/iframe/8be28b51ef8291c598d3.svg?hvd7w8#icomoon) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block
} */

[class^=icon-],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-minus:before {
  content: ""
}

.icon-reply:before {
  content: ""
}

.icon-arrow-up:before {
  content: ""
}

.icon-arrow-left:before {
  content: ""
}

.icon-arrow-right:before {
  content: ""
}

.icon-arrow-down:before {
  content: ""
}

.icon-dropdown-arrow:before {
  content: ""
}

.icon-arrow-up-thin:before {
  content: ""
}

.icon-arrow-left-thin:before {
  content: ""
}

.icon-arrow-right-thin:before {
  content: ""
}

.icon-arrow-down-thin:before {
  content: ""
}

.icon-whole-arrow-up:before {
  content: ""
}

.icon-whole-arrow-left:before {
  content: ""
}

.icon-whole-arrow-right:before {
  content: ""
}

.icon-whole-arrow-down:before {
  content: ""
}

.icon-attach:before {
  content: ""
}

.icon-attach-thin:before {
  content: ""
}

.icon-gallery:before {
  content: ""
}

.icon-sad:before {
  content: ""
}

.icon-sad-thin:before {
  content: ""
}

.icon-happy:before {
  content: ""
}

.icon-happy-thin:before {
  content: ""
}

.icon-conversation:before {
  content: ""
}

.icon-conversation-thin:before {
  content: ""
}

.icon-video-conversation:before {
  content: ""
}

.icon-clock:before {
  content: ""
}

.icon-clock-thin:before {
  content: ""
}

.icon-clock-alternative:before {
  content: ""
}

.icon-trash:before {
  content: ""
}

.icon-headphones:before {
  content: ""
}

.icon-check-mark:before {
  content: ""
}

.icon-wrapped-cross:before {
  content: ""
}

.icon-cross:before {
  content: ""
}

.icon-article:before {
  content: ""
}

.icon-article-thin:before {
  content: ""
}

.icon-document-check:before {
  content: ""
}

.icon-play:before {
  content: ""
}

.icon-pause:before {
  content: ""
}

.icon-dot:before {
  content: ""
}

.icon-exclamation-mark-circle:before {
  content: ""
}

.icon-exclamation-mark-triangle:before {
  content: ""
}

.icon-gear:before {
  content: ""
}

.icon-gear-thin:before {
  content: ""
}

.icon-info:before {
  content: ""
}

.icon-collapse:before {
  content: ""
}

.icon-mail:before {
  content: ""
}

.icon-minus-thin:before {
  content: ""
}

.icon-plus:before {
  content: ""
}

.icon-plus-thin:before {
  content: ""
}

.icon-pencil:before {
  content: ""
}

.icon-lock:before {
  content: ""
}

.icon-lock-thin:before {
  content: ""
}

.icon-smile:before {
  content: ""
}

.icon-star-filled:before {
  content: ""
}

.icon-star:before {
  content: ""
}

.icon-microphone:before {
  content: ""
}

.icon-spiner:before {
  content: ""
}

.icon-rotate:before {
  content: ""
}

.icon-search:before {
  content: ""
}


button, input {
  overflow: visible;
  border: none;
  outline: none;
}

#main-app .container[data-color-scheme=default],
#main-app .container[data-color-scheme=""] {
  --color-esmeralda: #0059b3;
  --color-rio: #fff;
  --color-asfalto: #000614;
  --color-nefritis: #e5eef7;
  --color-belice: #3a485b;
  --color-medianoche: #d0021b;
  --color-flor: #ccc;
  --color-sol: #4a4a4a;
  --color-costero: #669c34;
  --color-alizarina: #fdb43a;
  --color-nubes: #7d7a7a;
  --color-octarina: var(--color-rio);
  --color-brisa: rgba(0, 0, 0, 0);
  --color-apicultor: color-mix(in srgb, #fff, var(--color-esmeralda) 80%);
  --color-condimentado: var(--color-asfalto);
  --color-lunastorm: var(--color-rio);
  --color-azureglint: var(--color-rio);
  --color-magicdusk: var(--color-rio);
  --color-sparkveil: var(--color-esmeralda);
  --color-rainbowinspire: var(--color-rio);
  --color-stellarsilence: var(--color-rio);
  --color-mar: var(--color-esmeralda);
  --color-concreto: var(--color-esmeralda);
  --color-glamour: var(--color-esmeralda);
  --color-glicinia: inherit;
  --color-asbesto: inherit;
  --color-mystidawn: inherit;
  --color-etherwhirl: inherit;
  --color-dustdream: inherit;
  --color-mistgleam: inherit
}

#main-app .container[data-color-scheme=mavericks] {
  --color-esmeralda: #157efb;
  --color-rio: #fff;
  --color-asfalto: #000;
  --color-nefritis: #e5eef7;
  --color-belice: #3a485b;
  --color-medianoche: #ff1517;
  --color-flor: #ccc;
  --color-sol: #4a4a4a;
  --color-costero: #669c34;
  --color-alizarina: #fdb43a;
  --color-nubes: #7d7a7a;
  --color-octarina: var(--color-rio);
  --color-brisa: rgba(0, 0, 0, 0);
  --color-apicultor: color-mix(in srgb, #fff, var(--color-esmeralda) 80%);
  --color-condimentado: var(--color-asfalto);
  --color-sparkveil: var(--color-costero);
  --color-magicdusk: var(--color-rio);
  --color-azureglint: var(--color-rio);
  --color-rainbowinspire: var(--color-rio);
  --color-stellarsilence: var(--color-rio);
  --color-mar: var(--color-esmeralda);
  --color-concreto: var(--color-esmeralda);
  --color-glamour: var(--color-esmeralda);
  --color-glicinia: inherit;
  --color-asbesto: inherit;
  --color-lunastorm: inherit
}

#main-app .container[data-color-scheme=high-sierra] {
  --color-esmeralda: #550b06;
  --color-rio: #fff;
  --color-asfalto: #000;
  --color-nefritis: color-mix(in srgb, transparent, var(--color-esmeralda) 5%);
  --color-belice: #3a485b;
  --color-medianoche: #d0021b;
  --color-flor: #ccc;
  --color-sol: var(--color-asfalto);
  --color-costero: #669c34;
  --color-alizarina: #fdb43a;
  --color-nubes: #fff;
  --color-octarina: #fce401;
  --color-brisa: rgba(0, 0, 0, 0);
  --color-apicultor: color-mix(in srgb, #fff, var(--color-esmeralda) 80%);
  --color-condimentado: #000;
  --color-lunastorm: #d0021b;
  --color-azureglint: var(--color-rio);
  --color-magicdusk: var(--color-octarina);
  --color-sparkveil: var(--color-costero);
  --color-mystidawn: --color-rio;
  --color-dustdream: var(--color-octarina);
  --color-mistgleam: var(--color-esmeralda);
  --color-stellarsilence: var(--color-rio);
  --color-mar: var(--color-esmeralda);
  --color-concreto: var(--color-esmeralda);
  --color-glamour: var(--color-esmeralda);
  --color-glicinia: inherit;
  --color-asbesto: inherit;
  --color-rainbowinspire: inherit
}

#main-app .container[data-color-scheme=yosemite] {
  --color-esmeralda: #415b90;
  --color-rio: #fff;
  --color-asfalto: #000;
  --color-nefritis: #e5eef7;
  --color-belice: #3a485b;
  --color-medianoche: #d0021b;
  --color-flor: #7e8999;
  --color-sol: var(--color-esmeralda);
  --color-costero: #31a100;
  --color-alizarina: #fdb43a;
  --color-nubes: #fff;
  --color-octarina: #5bac8d;
  --color-brisa: rgba(0, 0, 0, 0);
  --color-apicultor: color-mix(in srgb, #fff, var(--color-esmeralda) 80%);
  --color-condimentado: var(--color-rio);
  --color-lunastorm: var(--color-rio);
  --color-mystidawn: #e4eef7;
  --color-dustdream: var(--color-octarina);
  --color-azureglint: var(--color-rio);
  --color-magicdusk: var(--color-octarina);
  --color-mistgleam: var(--color-esmeralda);
  --color-sparkveil: var(--color-costero);
  --color-stellarsilence: var(--color-rio);
  --color-mar: var(--color-esmeralda);
  --color-concreto: var(--color-esmeralda);
  --color-glamour: var(--color-esmeralda);
  --color-glicinia: inherit;
  --color-asbesto: inherit;
  --color-rainbowinspire: inherit
}

#main-app .container[data-color-scheme=el-capitan] {
  --color-esmeralda: #d7314a;
  --color-rio: #fff;
  --color-asfalto: #000;
  --color-nefritis: color-mix(in srgb, transparent, var(--color-esmeralda) 10%);
  --color-belice: #3a485b;
  --color-medianoche: #9a0000;
  --color-flor: #ccc;
  --color-sol: #4a4a4a;
  --color-costero: #669c34;
  --color-alizarina: #fdb43a;
  --color-nubes: #fff;
  --color-octarina: #fce401;
  --color-brisa: rgba(0, 0, 0, 0);
  --color-apicultor: color-mix(in srgb, #fff, var(--color-esmeralda) 80%);
  --color-condimentado: var(--color-esmeralda);
  --color-sparkveil: var(--color-costero);
  --color-magicdusk: var(--color-rio);
  --color-rainbowinspire: var(--color-rio);
  --color-azureglint: var(--color-rio);
  --color-dustdream: color-mix(in srgb, transparent, var(--color-esmeralda) 20%);
  --color-stellarsilence: var(--color-rio);
  --color-mar: var(--color-esmeralda);
  --color-concreto: var(--color-esmeralda);
  --color-glamour: var(--color-esmeralda);
  --color-glicinia: inherit;
  --color-asbesto: inherit;
  --color-lunastorm: inherit
}

#main-app .container[data-color-scheme=mojave] {
  --color-esmeralda: #a9071a;
  --color-asfalto: #000;
  --color-rio: #fff;
  --color-nefritis: color-mix(in srgb, transparent, var(--color-esmeralda) 10%);
  --color-belice: #3a485b;
  --color-medianoche: #f44;
  --color-flor: #ccc;
  --color-sol: #4a4a4a;
  --color-costero: #669c34;
  --color-alizarina: #fdb43a;
  --color-nubes: #7d7a7a;
  --color-octarina: var(--color-esmeralda);
  --color-brisa: rgba(0, 0, 0, 0);
  --color-apicultor: color-mix(in srgb, #fff, var(--color-esmeralda) 80%);
  --color-condimentado: #000;
  --color-lunastorm: #d0021b;
  --color-mystidawn: #fff;
  --color-etherwhirl: #fff;
  --color-dustdream: color-mix(in srgb, transparent, var(--color-esmeralda) 40%);
  --color-azureglint: #fff;
  --color-magicdusk: #fff;
  --color-mistgleam: #fff;
  --color-sparkveil: var(--color-costero);
  --color-rainbowinspire: var(--color-rio);
  --color-stellarsilence: #fff;
  --color-mar: var(--color-esmeralda);
  --color-concreto: var(--color-esmeralda);
  --color-glamour: var(--color-esmeralda);
  --color-glicinia: inherit;
  --color-asbesto: inherit
}

